/options.txt
/optionsof.txt
/config
/FreeLauncher.*
/launcher_profiles.json
/.mixin.out
/cachedImages
/discordsuite
/local
/journeymap
/logs
/resourcepacks
/shaderpacks
/scripts
/saves
/screenshots
realms_persistence.json
/servers.dat
/usercache.json
/launcher_log.txt
/crash-reports
*.log
/assets
Thumbs.db
mods/JustEnoughButtons