/options.txt
/optionsof.txt
/FreeLauncher.*
/launcher_profiles.json
/.mixin.out
/cachedImages
/discordsuite
/journeymap
/logs
/resourcepacks
/shaderpacks
/saves
/screenshots
realms_persistence.json
/servers.dat
/usercache.json
/launcher_log.txt
/crash-reports
*.log
/assets
Thumbs.db
mods/JustEnoughButtons
/BotaniaVars.dat
/OpenComputersMod-1.7.2.67-lua52-native.64.dll
/OpenComputersMod-1.7.2.67-lua53-native.64.dll
tv-cache
psi_persistent
versions/1.12.2-forge1.12.2-14.23.5.2772/1.12.2-forge1.12.2-14.23.5.2772-natives-*
usernamecache.json
ModernCraft
backups
.ReAuth.cfg
local
astralsorcery
astralsorcery_persistent
woot
valkyrielib
mtservers.dat