# Configuration file

~CONFIG_VERSION: 0.1.0

world-1974054333 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-78688046 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=capac
    B:overlayEnabled=true
}


world101716 {
    # Брать предметы вместо отображения рецепта.
    B:cheatItemsEnabled=true

    # Скрывать и показывать предметы в списке нажатием клавиши по ним.
    B:editEnabled=false
    S:filterText=стеклов

    # Показывать список предметов рядом с открытым интерфейсом.
    B:overlayEnabled=true
}


world105493934 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1157583005 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=casing
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1855637915 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world205688711 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world3556498 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@immer
    B:overlayEnabled=true
}


world470873532 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=torch
    B:overlayEnabled=true
}


world940892185 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


